.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 104;
    padding-top: 55px;
    color: #fff;
    background-color: #0A1421;
    width: 56px;
}

.btnsContainer{
    padding-top: 12px;
}

.navBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 0;
    border-radius: 8px;
    margin: 2px 0;
    width: 64px;

}

.navBtn:hover,
.navBtn.active {
    background-color: #20c5ba;
}

.navBtn:hover::after,
.navBtn.active::after {
    position: absolute;
    right: 0;
    display: block;
    content: url("/assets/media/arrow_right.svg");
    height: 25px;
}


